*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body {
    background: #0c0c0c url(Img/Header.png) no-repeat fixed;
    padding-top: 900px;
    padding-bottom: 0;
    background-size: cover;
}
#info {
    background: white;
width: auto;
    height:14in;
    padding: 0 5in;
}
#audio{

    height:900px;
    padding-left: 5in;
    padding-right: 5in;
    background-size: cover;
    background: #2e2e2e url(img/audio.png) no-repeat 50% 50%;
    background-blend-mode: multiply;
}
#gallery{
    background: white;
    height:5in;
}
#helper {
    height:6in;
    background: #000000 url(img/help.png) no-repeat left top;
}
#footer{
    height: 1in;
    background: #363636 ;
}