@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans+Condensed:300|Open+Sans:400,800');

*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body {
    padding-top: 2%;
    background: #0c0c0c url(Img/Header.png) no-repeat fixed;
    background-size:100%;
}
.text{
    font-family: 'Open Sans Condensed', sans-serif;
}
.header
{
    width: 100%;
}
.header a:hover{
    font-family: 'Amatic SC', cursive;
    color: lightgray;
    font-size: 3.5vw;
    margin-top: 20px;
}
.header a{
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 3.5vw;
    margin-left:7%;
    margin-right:7%;

}

#info {
    margin-top:45%;
    background: white;
    width: auto;
    height:100vw;
    padding: 5% 10% 10%;
    background-size: cover;
    font-size:2vw;
}
h1,h2,h3,h4,h5 { font-family: 'Amatic SC', cursive;}
#info h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 7vw;
    text-align: center;
}
#info_photo{
    margin-top: 10px;
}
.photo_box{
    float:left;
    height: 65vw;
}
#photo_block1, #photo_block3{
    float:left;
    width:27%;
}
#photo_block2{
    width:46%;
}
.photo_box_box{
    width:100%;
    height:50%;
}
.photo{
    width: 100%;
    height:80%;
}
.about_1{
    background: url(img/About1.png) no-repeat center;
    background-size: auto 100%;
}
.about_2{
    background: url(img/About2.png) no-repeat center;
    background-size: auto 100%;
}
.about_3{
    background: url(img/About_main.png) no-repeat center;
    background-size: auto 100%;
}
.about_4{
    background: url(img/About3.png) no-repeat center;
    background-size: auto 100%;
}
.about_5{
    background: url(img/About5.png) no-repeat center;
    background-size: auto 100%;
}
.about_6{
    background: url(img/About4.png) no-repeat center;
    background-size: auto 100%;
}
.text_photo{
    text-align: center;
}
.text_photo{
    width: 100%;
    height:20%;
}
#audio{
    height:100%;
    min-height: 450px;
    padding: 1vw 1vw 0vw;
    background-size: 100%;
    background: #2e2e2e url(img/audio.png) no-repeat fixed center;
    background-blend-mode: multiply;
}
#music{
    float: left;
    height: 100%;
    width: 30%;
}
.play_button{
    float: left;
    height: 100%;
    width: 15%;
    display:flex;
    align-items: center;
    justify-content: center;

}
.play_button:hover{
    background: #2e2e2e;
}
.name_of_track{
    float: left;
    height: 100%;
    width: 55%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size:1vw;
}
#name_of_song {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size:1vw;
    float: left;
    width: 80%;
}
#name_of_song span {
    color:lightgrey;
    overflow: hidden;
}
#mute{
    padding: 0 0 0 6px;
}
#back_button:hover, #play_button:hover, #next_button:hover,#mute:hover{
    background: #2e2e2e;
}
#song{
    float: left;
    width: 50% ;
    height: 100%;
}
.song{
    float: left;
    height: 18px;
    width: 100%;
}

#time_of_song{
    float: right;
}
#name_of_song span {
    color:lightgrey;
}
#play_of_song{
    background: #363636;
}
#back_button,#next_button,#play_button,#mute{
    float: left;
    height: 100%;
    width: 7%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.name_of_track{
    float: left;
    height: 100%;
    width: 55%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    color: white;
}
.name_of_track span{
    color:lightgrey;
}
.time{
    float: left;
    height: 100%;
    width: 30%;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
}
#album{
    background:url(img/album.png) no-repeat left;
    background-size: auto 100%;
    float: left;
    height: 90%;
    width: 70%;
}
#play{
    float: left;
    height: 10%;
    width: 70%;
}
.track{
    height: 10%;
    width: 100%;
}
#gallery{
    background: white;
    height:100%;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 9vw;
}

#helper {
    height:6in;
    background: #000000 url(img/help.png) no-repeat fixed;
    background-size: 100%;
}
#form {
    min-width: 375px;
    max-width: 50%;
    height: 100%;
    float: inside;
}
#form h5 {
text-align: center;
    font-size: 6em;
    color: white;
}
#form_input {
    margin-top: 15px;
    width: 70%;
    margin-left: 22%;
    font-size: 1.1em;
}
#form_input label {
    color: white;
    cursor: pointer;
    font-size: 1.4em;
    font-family: 'Amatic SC', cursive;
}
#form_input label > span {
    color: red;
}
#form_input input,#form_input textarea {
    margin-bottom: 10px;
    width: 70%;
    padding: 10px 2%;
    border-radius: 7px;
    border: 2px solid white;
    font-size: 0.9em;
    color: black;
}
#form_input input:focus,#form_input textarea:focus {
    border-color: #333;
}
.btn {
    float: left;
    border-radius: 5px;
    padding: 5px 9px;
    font-size: 1.2em;
    background-color: black;
    cursor: pointer;
    color: white;
    font-family: 'Amatic SC', cursive;
}
.btn:hover {
    background: white;
    color:black;
}
#footer{
    height: 1in;
    background: #363636 ;
}